* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f1f3f8;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

.blind {
  position: absolute;
  top: -99999em;
}
