header {
  font-size: 18px;
  line-height: 1;

  .header_wrap {
    /* width: 100%; */
    max-width: 1700px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
  }

  .header_left {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
    /* width: 400px; */
    height: 100%;
    gap: 30px;
    /* padding: 30px; */


    .logo>a {
      display: block;
      width: 168px;
      margin-top: 10px;
    }

    .logo img {
      width: 100%;
      /* display: flex;
      justify-content: center;
      align-items: center; */

    }

    .toggle-wrap {
      display: flex;
      /* width: 170px; */
      color: #fff;
      position: relative;

      >div {

        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* width: 97px;
        height: 31px; */
        padding: 8px 20px;
        border-radius: 30px;

        a {
          display: block;

          font-size: 0.9rem;
        }
      }

      .toggle-etf {
        background: rgb(20, 84, 255);
        border: 1px solid rgb(20, 84, 255);
        z-index: 1;
      }

      .toggle-fund {
        position: relative;
        left: -15px;
        background: #ddd;
        border: 1px solid #ddd;
        color: #616161;
      }
    }
  }

  .header-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 2;
    gap: 20px;
    font-weight: 500;

    >nav>ul {
      display: flex;
      gap: 50px;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 10px;

    .etf {
      /* width: 110px; */
      /* height: 32px; */
      background: #000084;
      color: #fff;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 14px;
      /* font-weight: 500; */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .languages {
      margin-top: -3px;
    }
    
    .my-page>a,
    .search>a,
    .hamburger>a {
      position: relative;
    }

    .my-page-wrap {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
    }

    .my-page-wrap>div>a::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .my-page>a::after {
      background-image: url(../images/profile.svg);
      background-size: 30px;
    }

    .search>a::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(../images/search.svg) no-repeat center;
      background-size: 30px;
    }

    .burger>a::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(../images/menu.svg) no-repeat center;
      background-size: 40px;
    }
  }

}

main {
  max-width: 1700px;
  margin: 0 auto;
  .login-wrap {
    display: flex;
    align-items: center;
    height: calc(90vh - 80px);

    .login {
      margin: 0 auto;
      background: white;
      padding: 50px;
      width: 550px;
      border-radius: 55px;

      p {
        padding: 20px 0 20px 0;
      }

      .popup-tooltip {
        max-width: 500px;
        width: 55%;
        background: white;
        margin: 0 auto;
        /* 화면에 따라 유동적으로 값을 주고싶으면 vw 단위를 쓰면 됨 */
        /* 전체화면의 2프로? */
        /* padding: 2vw; */

        padding: max(2vw, 20px);
        border-radius: 30px;

        .tooltip {
          top: 40px;
          background: #444c83;
          color: white;
          font-size: 0.85rem;
          border-radius: 10px;
          display: flex;
          padding: 3px;
          position: relative;
        }

        /* 아래의 설정은 p가 기준이 되어야한다. 이를 위해 tooltip에 position relative를 부여한다. */
        .tooltip::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          background: #444c83;
          position: absolute;
          bottom: 0;
          left: 50%;
          /* transform rotate, translate, translateX, ... 는 같이 써야한다. 그렇지 않으면 위의 설정이 사라진다. */
          transform: translate(-50%, 50%) rotate(45deg);
        }
      }

      /* .tooltip-tit {
        background-color: #444c83;
        color: #fff;
        display: flex;
        align-items: center;
        width: 95%;
      } */

      button {
        width: 95%;
        display: block;
        margin: 10px;
        display: flex;
        align-items: center;
        /* justify-content: flex-start; */
        border: none;
        border-radius: 18px;
        height: 56px;

        img {
          margin-right: 120px;
          margin-left: 20px;
        }
      }

      .kakao {
        background: #fee500;
      }

      .naver {
        background: #03cf5d;
        color: #fff;
      }

      .google {
        color: #4d4d4d;
      }
    }
  }
}

footer {
  .footer-container {
    max-width: 1700px;
    margin: 0 auto;
    .footer-top,
    .footer-logo,
    .footer-bottom {
      margin-bottom: 30px;
    }

    .footer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer-menu {
        display: flex;
        align-items: center;
        gap: 20px;

        >li:not(:last-child)>a::after {
          content: "|";
          margin: 8px;
          color: #ACACAC;
        }

        /* li+li:not(.wrapped)::before{
          content: "";
          left: 0;
          width: 1px;
        } */
      }

      .footer-util {
        display: flex;
      }
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      color: #9c9b9b;

      .footer-awards {
        display: flex;
        gap: 10px;
        align-items: center;

        .award>a>img {
          width: 80px;
          height: 50px;
        }
      }

      .sns-links-wrap {
        display: flex;
        align-items: center;
      }
      .sns-links {
        display: flex;
        gap: 20px;
      }
    }
  }
}