.wrap {
    background: #ddd;
    width: 1000px;
    margin: 50px auto;
}

.wrap>div {
    width: 200px;
    height: 50px;
    border: 1px solid black;
}

/* 비추 */
.float-wrap {
    /* 1. float을 사용하려면 높이를 줘야한다. 자식요소의 높이가 변하면 재계산해야하는 단점이 있다 */
    /* height: 52px; */
    /* 2. 부모도 float을 준다. 그러나 여전히 침범함.*/
    /* float: left; */
    /* 3.overflow:hidden 를 준다. 넘치는 자식의 속성을 가려준다. 높이 계산이 필요없다.
    그러나 넘쳐난 요소를 볼 수가 없다*/
    /* overflow: hidden; */
    /* 4.after */
}

/* 4.after 추천!!! */
/* float 명령어는 다음에 오는 요소에도 영향을 줘버린다. 이 영향에서 벗어나도록 하는 명령어가 clear */
.float-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.float-wrap>div {
    float: left;
    /* 부모보다 커지면 밑으로 떨어짐 */
    margin-right: 30px;
}

.float-wrap {
    /* flex는 떨어지지 않는다. */
    display: flex;
    /* justify-content */
    /* space-between: 첫번째, 마지막은 끝에, 중간의 요소들은 알아서 여백같게 계산해서 배치 */

    /* justify-content: space-around; */
    justify-content: space-evenly;
}