:root {
    /* 색상 */
    --ibk-main-color: #0055a2;
    /* --ibk-main-text-color: #0075a3; */
    --ibk-text-color: #0d020f;
    --secondary-color: #72808e;
    /* 테두리 모서리 */
    --border-radius: 4rem;
}

/* body */
body {
    line-height: 3rem;
    color: var(--ibk-text-color);
}
/* header */
/* main */
/* footer */